/* font-family: 'Carrois Gothic', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
*/
body {
  text-align: center;
  background-color: #eeeeee;
  margin-bottom: 20px;
}
footer {
  background-color: #303841;
}
h1 {
  font-family: "Carrois Gothic", sans-serif;
  font-size: 50px;
}
h2 {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 15px;
}
p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #303841;
  padding-right: 15px;
}
a:hover {
  color: #00adb5;
}
.footer-icons {
  color: #00adb5;
}
.footer-icons:hover {
  color: #eeeeee;
}
.repository {
  color: #eeeeee;
}
.hero {
  background-color: #303841;
  color: #eeeeee;
  padding: 20px;
  margin-bottom: 50px;
}
.btn {
  font-family: "Carrois Gothic", sans-serif;
  background-color: #00adb5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  color: #00adb5;
  background-color: #303841;
}
.home-contact-button {
  padding-top: 75px;
}
.navbar {
  background-color: #00adb5;
  padding: 1px;
  font-family: "IBM Plex Sans", sans-serif;
}
.links {
  padding-bottom: 20px;
}
